{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load l10n %}
{{ form.media }}
<div class="form-container">
    
    <div class="form-header">
        <h2>{{game.name}}</h2>
    </div>

    <form method="POST" class="default-form" enctype="multipart/form-data">
        {% csrf_token %}{% comment %} {{form.as_p}} {% endcomment %}
        {% localize on %}
            <p><strong>Start Date:</strong> {{ game.start_date }}</p>
            <p><strong>End Date:</strong> {{ game.end_date }}</p>
            <p><strong>Location:</strong> {{ game.location }}</p>
            <p><strong>Prize:</strong> {{ game.prize }}</p>
            <p><strong>Organizer:</strong> {{ game.organizer }}</p>
            <p><strong>Description:</strong> {{ game.description }}</p>
        {% endlocalize %}
        <input type="submit" value="Register" class="btn btn-outline-success" >
    </form>
    <div class="form-footer">
        {% if previous_page %}<a class="btn btn-outline-dark" href="{{previous_page}}"><b>← </b></a>{% endif %}
        <a class="btn btn-outline-dark" href="{% url 'users:dashboard' %}"><div>Dashboard</div></a>
    </div>
</div>
{% endblock content %}
