<!-- set_orientation.html -->
{% extends "base.html" %}
{% block content %}
{% comment %} <form method="post" action="{% url 'users.orientation:set_orientation' %}">
    {% csrf_token %}
    <select name="role">
        {% for value, name in roles %}
            <option value="{{ value }}">{{ name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Set Orientation">
</form> {% endcomment %}


<div class="form-container">
    
  <div class="form-header">
      <h2>Select orientation</h2>
  </div>

  <form method="post">
    {% csrf_token %}
    <label for="selected_orientation">Select a new orientation:</label>
    <select name="selected_orientation" id="selected_orientation">
      {% for orientation in orientations %}
        <option value="{{ orientation.id }}">
          {{ orientation.name }}
        </option>
      {% endfor %}
    </select>
    <button type="submit">Set Orientation</button>
  </form>
  <div class="form-footer">
    {% if previous_page %}
        <a class="btn btn-outline-dark" href="{{previous_page}}">Back</a>
    {% endif %}
    <a class="btn btn-outline-dark" href="{% url 'users:dashboard' %}"><div>Back to dashboard</div></a>
  </div>
</div>
{% endblock content %}

