{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load l10n %}
{{ form.media }}
<div class="form-container">
    
    <div class="form-header">
        <h2>{{roster.name}} [{{roster.tag}}]</h2>
    </div>

    <div class="roster-logo">
        <img src="{{ roster.logo.url }}" alt="{{ roster.name }}">
    </div>

    <form method="POST" class="default-form" enctype="multipart/form-data">
        {% csrf_token %}{% comment %} {{form.as_p}} {% endcomment %}
        {% localize on %}
        {% comment %} Change these to be the new {% endcomment %}
        <p><strong>Formation Date:</strong> {{ roster.formation_date }}</p>
        <p><strong>Founding Date:</strong> {{ roster.founding_date }}</p>
        <p><strong>Organization:</strong> {{ roster.organization }}</p>
        <p><strong>Creator:</strong> {{ roster.creator }}</p>
        <p><strong>Registrar:</strong> {{ roster.registrar }}</p>
        <p><strong>Description:</strong> {{ roster.description }}</p>
        {% endlocalize %}
        <input type="submit" value="Register" class="btn btn-outline-success" >
    </form>
    <div class="form-footer">
        {% if previous_page %}<a class="btn btn-outline-dark" href="{{previous_page}}"><b>← </b></a>{% endif %}
        <a class="btn btn-outline-dark" href="{% url 'users:dashboard' %}"><div>Dashboard</div></a>
    </div>
</div>
{% endblock content %}
