:root{
    --gladiatorus-dark-grey-1: #101010;
    --gladiatorus-medium-grey-1: #171717;
    --gladiatorus-medium-grey-weak: #1b1b1b;
}
body{
    overflow-x: hidden;

    /* display: flex; */
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    text-align: -webkit-center;
    background-color: black;
}

.gladiatorus-content-container{
    min-height: 100vh;
    width: 60%;
    transition-duration: 0.343s;
}

.gladiatorus-main-footer{
    background-color: var(--gladiatorus-dark-grey-1);
    color: white;
    padding-bottom: 150px;
}










@media (max-width: 800px) {
    .gladiatorus-content-container{
        width: 100%;
    }
}


/* STANDARD WEB COMPONENTS */

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

.info-list-container{
    width: 300px;
}

/* STANDARD WEB COMPONENTS */

/* NOTIFCATION DESIGN */
.notification-container{
    position: fixed;
    top: 0px;
    padding-top: 10px;
    width: 100%;
}
.notification-spacer{
    width: 100%;
    transition-duration: 0.343s;
}

.gladiatorus-web-standard-notification{
    height: 80px;
    border-radius: 100px;
    display: flex;
    box-shadow: 0px 3px 5px #00000078;
    align-content: center;
    align-items: center;
    contain: content;
    /* padding: 5px; */
    /* background-color: #1c1c1c; */
    /* position: fixed; */
    z-index: 9000;
    background-color: white;

    width: 80px;
    opacity: 0;
        transform: translate(0, -150px);
    animation: notification-load-in-animation 1s forwards 1s;
}

.gladiatorus-notification-icon-container{

}

.gladiatorus-notification-icon-img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin: 5px;
}


.gladiatorus-notification-content{
    flex-grow: 1;
    display: flex;
    margin-left: 10px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    border-left: 4px solid #cdcdcd;
    padding-left: 10px;
}
.gladiatorus-notification-info-container{

}
.gladiatorus-notification-logo-container{

}
.gladiatorus-notification-close-notification-container{
    background-color: #e900003d;
    border-left: solid 5px #cdcdcd;
    width: 80px;
    color: rgb(196, 196, 196);
    cursor: pointer;
}
.gladiatorus-notification-close-notification-container p{
    margin: 0px;
}
.gladiatorus-notification-close-notification-container:hover{
    background-color: #e9000065;
    color: #fff;
}
.gladiatorus-notification-content div{
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes notification-load-in-animation {
    0%{
        width: 80px;
        opacity: 0;
        transform: translate(0, -150px);
    }
    25%{
        width: 80px;
        opacity: 1;
        transform: translate(0, 0px);
    }
    75%{
        width: 350px;
        opacity: 1;
        transform: translate(0, 0px);
    }
    100%{
        width: 350px;
        opacity: 1;
        transform: translate(0, 0px);
    }
}

@keyframes notification-close-animation {
    0%{
        width: 350px;
        opacity: 1;
        transform: translate(0, 0px);
    }
    25%{
        width: 350px;
        opacity: 1;
        transform: translate(0, 0px);
    }
    75%{
        width: 80px;
        opacity: 1;
        transform: translate(0, 0px);
    }
    100%{
        width: 80px;
        opacity: 0;
        transform: translate(0, -150px);
    }
}





/* NOTIFCATION DESIGN */

.background-image{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    object-fit: fill;
}

/****^^ FORM ^^****/
.form-outer-container-since-css-is-wierd{
    height: -webkit-fill-available;
}
.form-container{
    background-color: #ffffff0d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0px #00000014;

    /* FLEX INFO */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.form-header{
    margin-top: 10px;
    margin-bottom: 20px;
}
.form-footer{
    margin-top: 20px;
}

form{
    padding: 10px;
    /* background-color: white; */
    width: 100%;
    /* border-radius: 5px; */
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding-top: 30px;
    padding-bottom: 30px;
    
    /* FLEX INFO */
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
/****__ FORM __****/