<!--hovedside/templates/registration/password_change_form.html-->

{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="form-container">
    <h2>Change password</h2>

    <form method="post">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        {{form|crispy}}
        <input type="submit" value="Change" class="btn btn-outline-success">
    </form>

    <a href="{% url 'users:dashboard' %}">Back to dashboard</a>
</div>
{% endblock content %}