{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .team-app{
        --team-sponsor: #00b3e0;
        --team-contact: #ff4200;
        --team-follow: #ff9000;
        --team-join: #00e02a;
        --team-leave: #ff0000;
    }
    .tournament-app{



        


    }
    .tournament-header-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
    }

    .tournament-content{
        position: relative;
        top: 200px;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 200px;
    }
    
</style>
<div class="tournament-app">
    <div class="tournament-header-container">
        {% include "components/magistrate/tournament/_tournament-header.html" %} 
    </div>
    <div class="tournament-content">
        
    </div>
</div>
<script>

    
</script>
{% endblock content %}



       