{% load static %}
<!--<style>/* USES main-menu.css*/</style>-->
<div class="gladiatorus-main-navbar-container">
    <div class="gladiatorus-main-navbar">
        <div onclick="toggle_main_menu()" class="gladiatorus-main-navbar-home-button-container">
            <div class="gladiatorus-main-navbar-home-button">
                <img src="{% static 'gladiatorus-base/img/logo/V3_round_Transparent.png' %}" alt="gladiatorus-home-button" class="gladiatorus-main-navbar-home-button-img">
            </div>
        </div>

        <div class="main-navbar-utility-line">
            <section style="padding-right: 30px">
                <div class="utility-line-standard-icon">
                    <img src="{% static 'gladiatorus-base/img/Champion_icon.png' %}" alt="user-icon-image">
                </div>
                <div class="utility-line-standard-icon">
                    <img src="{% static 'gladiatorus-base/img/V3.png' %}" alt="user-icon-image">
                </div>
            </section>
            {% comment %} <spacer>

            </spacer> {% endcomment %}
            <section style="padding-left: 30px">
                <div class="main-navbar-orientation-container utility-line-standard-icon    ">
                    <img src="{% static 'gladiatorus-base/img/Amphitheaters.png' %}" alt="user-icon-image">
                </div>
                

                <a href={% url "users:dashboard" %} class="main-navbar-user-container utility-line-standard-icon">

                    {% if user.is_authenticated %}
                        <img src="{{user.profile.profileImage.url}}" alt="user-icon-image">
                    {% else %}
                        <img src="{% static 'gladiatorus-base/img/not-authenticated-user-image.jpg' %}" alt="user-icon-image">
                    {% endif %}
                </a>
            </section>
        </div>

    </div>
</div>