{% load static %}
<!--<style>/* USES main-menu.css*/</style>-->
<div class="gladiatorus-main-menu-container" id="gladiatorus-main-menu-container">
    <div class="gmm-status-bar" id="gmm-status-bar">
        <div class="gmm-notification-bar">
        </div>

        <div class="gmm-header">
            <h1> Status Bar</h1>
        </div>
        
    </div>
    <div class="gmm-core" id="gmm-core">
        <h2 class="gmm-module-header"> Core</h2>
        {% comment %} {{ user.orientation }} {% endcomment %}
        {% if user.is_authenticated %}
            {% include user.userorientation.get_template %}
        {% else %}
            {% include "components/core/gmm-core/gmm-core-template.html" %}
        {% endif %}
        
    </div>
    <div class="gmm-orientation" id="gmm-orientation">
        {% include "components/core/gmm-orientation/gmm-orientation-main.html" %}
        
        <div class="orientation-footer-menu">
            <div class="">
                <img height="100px" src="{% static 'gladiatorus-base/img/icons/settings_icon.png' %}" alt="Orientation Footer Home"></img>
            </div>
            <a href="{% url "core:welcome" %}">
                <img height="100px" src="{% static 'gladiatorus-base/img/icons/home_200.png' %}" alt="Orientation Footer Home"></img>
            </a>
            <div class="">
                Chat
            </div>
            
        </div>
    </div>
    <div class="gmm-navbar-cover" id="gmm-navbar-cover">
    </div>

</div>